.DS_Store

/playground.xcworkspace
LinkedList.playground/playground.xcworkspace/xcuserdata/begzodbakhriddinov.xcuserdatad/UserInterfaceState.xcuserstate
LinkedList.playground/xcuserdata/begzodbakhriddinov.xcuserdatad/xcschemes/xcschememanagement.plist
